body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   }

#carte-visite{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #b4dfe0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b4dfe0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#user {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    h2 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }
    p {
        margin: 5px 0;
        font-size: 20px;
        color: #666;
    }
}
